.video-details-container {
    margin: 0 auto;

    .video-img {
        height: 500px;
        background-size: cover;
        background-repeat: round;
    }

    #w-100 {
        width: 100%;
    }
    .padding-4-rem{
        padding:1.5rem 4rem;
    }
}